---
import BaseHead from '../components/BaseHead.astro'
import Projects from '../components/react/Projects'
import Speaking from '../components/react/Speaking'
import Footer from '../components/react/Footer'
import FormattedDate from '../components/FormattedDate.astro'
import { Analytics } from '@vercel/analytics/react'

import { SITE_TITLE, SITE_DESCRIPTION } from '../consts'
import { getCollection } from 'astro:content'
const posts = (await getCollection('blog')).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
)
---

<!doctype html>
<html lang='en'>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class='bg-zinc-900'>
    <Analytics />
    <main
      class='md:mx-auto w-full max-w-screen-md flex flex-col h-screen justify-between px-4 md:px-10'
    >
      <div class='pt-4 md:pt-12 flex flex-col space-y-8 flex-1'>
        <div class='flex flex-col space-y-1'>
          <img
            alt='headshot'
            width='512'
            height='512'
            decoding='async'
            data-nimg='1'
            class='rounded-lg bg-zinc-100 object-cover dark:bg-zinc-800 h-12 w-12 md:h-16 md:w-16'
            sizes='4rem'
            src='https://res.cloudinary.com/duud9d8dv/image/upload/v1696801306/headshot_mlyfwz.jpg'
          />
          <p class='text-zinc-100 font-semibold text-lg'>{SITE_TITLE}</p>
          <p class='text-zinc-300 text-sm leading-6'>
            <span class='font-thin'
              >I am a Software Developer building software to solve problems. I
              have a wide range of hobbies and passions that keep me busy. From
              <a
                href='/reading'
                class='underline font-semibold underline-offset-4 decoration-zinc-500 text-zinc-200 duration-200 hover:decoration-zinc-300'
                >reading</a
              >, 
              <!-- <a
                href='/blog'
                class='underline font-semibold underline-offset-4 decoration-zinc-500 text-zinc-200 duration-200 hover:decoration-zinc-300'
                >playing sports</a
              >,  -->
              <a
                href='https://www.youtube.com/playlist?list=PLZebO_PkwBvFNdxA2RTJX_EcSXdLV4_0e'
                target='_blank'
                class='underline font-semibold underline-offset-4 decoration-zinc-500 text-zinc-200 duration-200 hover:decoration-zinc-300'
                >traveling</a
              >, to making <a
                href='https://www.youtube.com/@hqasmei'
                target='_blank'
                class='underline font-semibold underline-offset-4 decoration-zinc-500 text-zinc-200 duration-200 hover:decoration-zinc-300'
                >YouTube videos</a
              >. I am always seeking new experiences and love to keep myself
              engaged and learning new things.
            </span>
          </p>
        </div>

        <div class='flex flex-col space-y-4'>
          <span class='text-zinc-100 font-semibold text-lg'>Projects</span>
          <Projects />
        </div>
        <div class='flex flex-col space-y-4'>
          <span class='text-zinc-100 font-semibold text-lg'>Writing</span>
          <div class='grid grid-cols-1 gap-4 text-sm'>
            {
              posts.map((post) => (
                <a
                  href={`/blog/${post.slug}/`}
                  class='flex flex-row justify-between items-center group duration-200'
                >
                  <p class='underline underline-offset-4 decoration-zinc-500 text-zinc-400 duration-200 group-hover:text-zinc-200'>
                    {post.data.title}
                  </p>
                  <p class='text-zinc-400 group-hover:text-zinc-200 duration-200'>
                    <FormattedDate date={post.data.pubDate} />
                  </p>
                </a>
              ))
            }
          </div>
          <a
            href='/blog'
            class='flex flex-row space-x-1 text-zinc-400 text-sm items-center group'
          >
            <span class='group-hover:text-zinc-200'>All entries</span>
            <svg
              xmlns='http://www.w3.org/2000/svg'
              width='22'
              height='12.38'
              viewBox='0 0 16 9'
              class='mt-0.5 group-hover:text-zinc-200 group-hover:translate-x-1 duration-200'
              ><path
                fill='currentColor'
                d='M12.5 5h-9c-.28 0-.5-.22-.5-.5s.22-.5.5-.5h9c.28 0 .5.22.5.5s-.22.5-.5.5Z'
              ></path><path
                fill='currentColor'
                d='M10 8.5a.47.47 0 0 1-.35-.15c-.2-.2-.2-.51 0-.71l3.15-3.15l-3.15-3.15c-.2-.2-.2-.51 0-.71c.2-.2.51-.2.71 0l3.5 3.5c.2.2.2.51 0 .71l-3.5 3.5c-.1.1-.23.15-.35.15Z'
              ></path></svg
            >
          </a>
        </div>
        <div class='flex flex-col space-y-4'>
          <span class='text-zinc-100 font-semibold text-lg'>Speaking</span>
          <Speaking />
        </div>
      </div>
      <Footer />
    </main>
  </body>
</html>
